
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
      <link rel="stylesheet" href="css/bootstrap/bootstrap-social.css">
      <!-- Font Awesome CSS-->
      <link rel="stylesheet" href="css/font-awesome/css/fontawesome-all.min.css">
      <!-- Antares CSS -->
      <link rel="stylesheet" href="css/antares.css">

      <link href="media/img/ico-antares.ico" rel="shortcut icon" />
      <title> Antares</title>

      <script src="js/pace.js"></script>
      <link href="css/pace-theme-minimal.css" rel="stylesheet" />
   </head>
  
   <body class="body-login">
      <header>
       
         <nav class="navbar fixed-top  navbar-inverse">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item dropdown ">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Idioma
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                     <a href="#" class="dropdown-item">Español</a>
                     <a href="#" class="dropdown-item">Inglish</a>
                  </div>
               </li>
            </ul>
            </div>
         </nav>
         <img class="img-form-login mb-3" src="media/img/logo-antares.png" alt="">


 <!-- alert shortcode start -->
 <% include ../shortcodes/alert-login-register %>
 <!-- alert shortcode end -->

      </header>



      <section class="main-login-reg main container text-center mt-5">
    
 
   
         <div class="row mt-4" id="form-register">
         
     
            <!-- register form -->
             

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 row-forms">
                
                <div class="container-form-login">
                
                   <div class="divider">Registrar</div>
                   <form action="/register-local" method="post">
                      <div class="row">
                         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">  <a href="/auth/twitter" class="btn btn-block btn-social  btn-twitter "><span class = "fab fa-twitter"> </span>  con Twitter </a> </div>
                         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">   <a href="/auth/facebook" class="btn btn-block btn-social  btn-facebook "><span class = "fab fa-facebook"> </span>  con Facebook </a></div>
                      </div>
                      <br>
                      <div class="form-group">
                         <input type="text" name="userName" class="form-control" id="InputNameUser" placeholder="Nombre de Usuario (publico)"  value='<%try{if(namesPost){%><%=namesPost.userName%><%}}catch(err){}%>'>
                      </div>
                      <div class="form-group">
                         <input type="text" name="email" class="form-control" id="InputEmail"  placeholder="Email" value='<%try{if(namesPost){%><%=namesPost.email%><%}}catch(err){}%>'>
                      </div>
                      <div class="form-group">
                         <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                               <input name="password" type="password" class="form-control" id="password"  placeholder="Contraseña" value='<%try{if(namesPost){%><%=namesPost.password%><%}}catch(err){}%>'>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                               <input name="passwordRepeat" type="password" class="form-control" id="InputPassRepeat"  placeholder="Repetir Contraseña" value='<%try{if(namesPost){%><%=namesPost.passwordRepeat%><%}}catch(err){}%>'>
                            </div>
                         </div>
                      </div>
                      <div class="form-group">
                         <label>Fuerza</label>
                         <div class="progress_meter"></div>
                      </div>
                      <div class="form-group">
                         <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                               <label class="form-check-label">
                               <input name="typeAccount" class="form-check-input" type="checkbox" id="grasas" value="artist"> 
                               Soy creador
                               </label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                               <label class="form-check-label">
                               <input name="typeAccount" class="form-check-input" type="checkbox" id="grasas" value="buyer"  checked > 
                               Soy Comprador
                               </label>
                            </div>
                         </div>
                      </div>
                      <button type="submit" class="btn-login btn  btn-large  btn-block">Registrar</button>
                   </form>
                </div>
                <br>
             </div>

             <!-- end register form -->

                     <!-- login form -->
            <div class="col-xs-12 col-sm-12 col-md-6 row-forms">
                <div class="container-form-login ">
            
                   <div class="divider">Ingresar</div>
                   <form  class="mb-5" action="/login-local" method="post">
                      <div class="form-group">
                         <input name='email' type="email" class="form-control" id="InputEmail" aria-describedby="email" placeholder="Email" value='<%try{if(namesPost){%><%=namesPost.email%><%}}catch(err){}%>'>
                      </div>
                      <div class="form-group">
                         <input name='password' type="password" class="form-control" id="InputPass" aria-describedby="pass" placeholder="Contraseña" value=''>
                      </div>
                       


                      <button type="submit" class="btn-login btn  btn-large  btn-block">Acceder</button>



                   <div class="divider-or"> O </div>

                      <div class="row">
                         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">  <a href="/auth/twitter" class="btn btn-block btn-social  btn-twitter "><span class = "fab fa-twitter"> </span> Iniciar con Twitter </a> </div>
                         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">   <a href="/auth/facebook" class="btn btn-block btn-social  btn-facebook "><span class = "fab fa-facebook"> </span> Iniciar  con Facebook </a></div>
                      </div>
                   </form>
                   <a href="#">¿Olvidaste tu Contraseña?</a>
                </div>
             </div>
             <!-- end login form -->
         
         </div>
      
    <br>
         <br>
         <div id="strores-form" class="row">
            <div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
               <a href=""> <img class="stores-img-login" src="media/img/appstore-btn.png" alt=""></a>
               <a href="">  <img class="stores-img-login" src="media/img/playstore-btn.png" alt=""></a>
            </div>
            <div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
         </div>
    
        </section>

      <img class="footer-img-login" src="media/img/bg-login2.png" >
     
      <footer class="footer-reg-log">
        <div class="container-fluid">
            <!-- <div class="row text-center">

                
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
                        <a href="http://">POLÍTICA DE PRIVACIDAD</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <a href="http://">SOBRE NOSOTROS</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <a href="http://">CÓMO FUNCIONA</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <a href="http://">ACUERDO DE USUARIO</a>
                </div>
                
            </div> -->
       <br>
       <br>
       <br>
            <div class="row">
                <div class=" col-lg-12 text-center">
                        <h1 class="copyrigt-reg-log">Copyright © 2018 Antares. All rights reserved</h1>
                </div>
            </div>

        </div>

      </footer>
     
      <script src="js/jquery-3.2.1.js"></script>
      <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
      <script src="js/bootstrap/bootstrap.js"></script>
      <!-- <script src="js/controller-hide-show-forms.js"></script> -->
      <script src="js/controller-only-one-checkbox.js"></script>
      <script src="js/pwstrength.js"></script>
      <script type="text/javascript">
         $(document).ready(function () {
             "use strict";
             var options = {};
             options.ui = {
                 container: "#form-register",
                 showVerdictsInsideProgressBar: true,
                 viewports: {
                     progress: ".progress_meter"
                 }
             };
             $('#password').pwstrength(options);
         });
      </script>
   </body>
</html>